* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.tual{
    width: 960px;
    height: 950px;
    margin: 0px auto;
    background-color: rgb(254, 252, 251);
}
.no1{
    background-color: white;
    text-align: center;
    width: 960px;
    height: 300px;
    background-image: url("images/foto1.jpg");
    margin: 10px 0px;
    border-radius: 10px 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sol_menu {
    width: 310px;
    height: 600px;
    float: left;
    background-color: white;
    border-radius: 5px 5px;
    margin: 5px 5px;
    vertical-align: top;
   
}

.ic1{
    width:310px;
    height: 300px;
    background-color:white;
     border-radius: 5px 5px;
     margin: 5px auto;
    background-image: url("images/foto2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.ikinci{
       width: 300px;    
       height: 290px;
       background-color:white;
       margin: 0px auto;
       border-radius: 5px 5px;
     
       
}
h1{
    text-align: center;
}

p{
   text-align: center;
}


.sag_menu {
    width: 310px;
    height: 600px;
    float: left;
    /*background-color:rgb(240, 253, 67);*/
    border-radius: 5px 5px;
    margin: 5px 5px;
    vertical-align: top;
}
.ic2{
    width: 300px;
    height: 250px;
    /*background-color:rgb(255, 56, 56);*/
    border-radius: 5px 5px;
    margin: 5px 5px;
    background-image: url("images/foto4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}
 .ucuncu{
    width: 300px;    
       height: 440px;
       /*background-color:rgb(139, 236, 247);*/
       margin: 5px auto;
       border-radius: 5px 5px;
 }
 h2{
    text-align: center;
    
 }




.orta {
    width: 310px;
    height: 600px;
    float: left;
    background-color: white;
    border-radius: 5px 5px;
    margin: 5px 5px;
    vertical-align: top;
}

.ic3{
     width: 300px;
    height: 310px;
    background-color: blue;
    margin: 5px 5px;
    background-image: url("images/foto7.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.dorduncu{
    width: 280px;
    height: 260px;
    background-color: rgb(250, 249, 249);
    margin: 5px 5px;
    border-radius: 10px 5px;
    text-align: center;
    padding: 10px;
}

#bir{
    font-size: 20px;
}

.footer2 {
    background-color: lightblue;
    min-height: 35px;
    width: 950px;
    margin: 0px auto;
    padding: 10px;

}

#iki{
    text-align: center;
}

.linl{
    list-style-type: none;
    text-align: center;
}
ul.linl li{
    font-size: 150%;
    line-height: 200%;

}

ul.linkler li a {
    color: blue;
}

ul.linl li a:hover{
    color: red;
}

